<div
  class="card xl:w-[100px] 2xl:w-[110px] xl:h-[110px] 2xl:h-[130px] bg-base-100 shadow-md flex flex-col items-center p-1"
>
  <button
    (click)="setProduct(product() ?? null)"
    class="btn btn-square btn-primary flex items-center justify-center w-[82px] h-[82px] mb-1"
  >
    <img
      [src]="product()?.imageUrl"
      [alt]="product()?.title"
      class="w-20 h-20 p-1 object-contain"
    />
  </button>
  <div class="flex-1 flex flex-col justify-end">
    <span class="text-xs text-center truncate w-full">
      {{ product()?.title }}
    </span>
  </div>
</div>
