<div #scrollContainer class="h-90 overflow-y-auto w-full">
  <table class="table table-xl table-pin-rows table-pin-cols bg-amber-800">
    <thead>
      <tr>
        <th class="py-1"></th>
        <th class="py-1">Descripción</th>
        <th class="py-1">Cantidad</th>
        <th class="py-1">Precio</th>
        <th class="py-1">Dto</th>
        <th class="py-1">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Pincho moruno</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
      <tr>
        <th class="py-1 font-normal text-lg">1</th>
        <td class="py-1 font-normal text-lg">Última fila</td>
        <td class="py-1 font-normal text-lg text-right">1.50</td>
        <td class="py-1 font-normal text-lg text-right">3.50</td>
        <td class="py-1 font-normal text-lg text-right">0.00</td>
        <td class="py-1 font-normal text-lg text-right">4.75</td>
      </tr>
    </tbody>
  </table>
</div>
