<div #scrollContainer class="h-90 overflow-y-auto w-full">
    <table class="table table-xl table-pin-rows table-pin-cols bg-amber-800">
        <thead>
            <tr>
                <th class="py-1">#</th>
                <th class="py-1">Descripción</th>
                <th class="py-1">Cantidad</th>
                <th class="py-1">Precio</th>
                <th class="py-1">Dto</th>
                <th class="py-1">Importe</th>
            </tr>
        </thead>
        <tbody>
            @for (sale of sales(); track $index) {
            <tr>
                <td class="py-1 font-normal text-lg">{{ sale.id }}</td>
                <td class="py-1 font-normal text-lg">{{ sale.description }}</td>
                <td class="py-1 font-normal text-lg text-right">
                    {{ sale.quantity | number : "1.2-2" }}
                </td>
                <td class="py-1 font-normal text-lg text-right">
                    {{ sale.price | number : "1.2-2" }}
                </td>
                <td class="py-1 font-normal text-lg text-right">
                    {{ sale.discount | number : "1.2-2" }}
                </td>
                <td class="py-1 font-normal text-lg text-right">
                    {{
                        sale.amount
                            | currency : "EUR" : "symbol-narrow" : "1.2-2"
                    }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
