<div
    class="card xl:w-[85px] 2xl:w-[95px] xl:h-[85px] 2xl:h-[95px] bg-primary shadow-md flex flex-col items-center xl:mt-10 2xl:mt-0"
>
    <button
        (click)="navigateTo()"
        class="btn btn-square bg-blue-800 border-0 flex items-center xl:w-[70px] xl:h-[70px] xl:mb-0 2xl:mb-1.5 2xl:mt-1 xl:mt-0"
    >
        <span [innerHTML]="safeSvg"></span>
    </button>
    <div class="flex-1 flex flex-col justify-end">
        <span class="text-xs text-center truncate w-full">
            {{ title() }}
        </span>
    </div>
</div>
