<div
    class="card xl:w-[100px] 2xl:w-[100px] xl:h-[100px] 2xl:h-[100px] bg-base-100 shadow-md flex flex-col items-center p-1"
>
    <button
        (click)="navigateTo()"
        class="btn btn-square btn-primary flex items-center justify-center w-[82px] h-[82px] mb-1"
    >
        <span [innerHTML]="safeSvg"></span>
    </button>
    <div class="flex-1 flex flex-col justify-end">
        <span class="text-xs text-center truncate w-full">
            {{ title() }}
        </span>
    </div>
</div>
